.bookstore-card {
    height: 11rem;
    width: 45rem;
    border-radius: 6px;
    display: flex;
    align-content: space-between;
    flex-flow: column wrap;
    padding: 1rem;
    background-color: #ececec;
    color: #495F41;
    box-shadow: 0px 24px 24px -10px rgb(0,0,0,0.4);
    margin-bottom: 1.5rem;
}

 
.bookstore-body {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}

.thumbnail {
    height: 10rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.thumbnail-image {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.details {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    flex: 2;

}

.detail-header {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-body {
    width: 100%;
    display: grid;
    margin-top: 1rem;
    flex-flow: column wrap;
}

.detail-name {
    margin: unset !important;
}

.bookstore-footer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.85em;
}

.footer-date {
    font-size: 0.7em;
}

.footer-flag {
    width: 2.5rem;
}
.bestseller-header {
    font-size: 0.75em;
    font-weight: 800;
}

.bestsellers {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
}

.bestseller-title-container {
    flex: 1.5;
}

.bestseller-author-container {
    flex: 1;
}

.bestseller-author {
    font-style: italic;
}

.no-data {
    color: rgb(180, 180, 180);
    font-size: 0.7em;
}

@keyframes fadeIn {
    from {
        background-color: #ececec;
        transform: scale(1);
    }

    to {
        background-color: #e2fbb7;
        transform: scale(1.03);
        box-shadow: 0px 36px 24px -18px rgb(0,0,0,0.4);

    }
}

.bookstore-card:hover {
    animation: fadeIn 0.15s ease-out;
    animation-fill-mode: forwards;
}

@media (max-width: 767.98px) { 
    .bookstore-card {
        height: 24rem;
        width: 100%;
    }

    .bookstore-body {
        flex-direction: column;
    }

    .details {
        justify-content: space-around;
    }

    .detail-name {
        font-size: calc(1.4em + 1vmin);
    }

    .detail-header {
        flex-direction: column;
        align-items: center !important;
    }

    .detail-body {
        margin-top: 2rem;
    }

    .bestsellers {
        flex-direction: column;
        align-items: start;
    }

    .bestseller-author-container {
        margin-bottom: 1rem;
    }

}
