@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html {
  background-color: #495F41;
}

.App-header {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left top, #449128, #63ac36, #84c745, #a5e353, #c8ff62);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
}

p, span {
  font-family: "Lato", sans-serif;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.04em;
}

 h4, h5 {
  font-family: 'Libre Baskerville', serif;
}

a {
  color: #DE6449;
}

.app-title {
  margin: 1rem 2rem;
  color: #EEEEEE;
  font-weight: 700;
  font-size: calc(2em + 1vmin);
}

.book-icon {
  margin-right: 1.5rem;
}

@media (max-width: 767.98px) { 
 
  .app-title {
    text-align: center;
  }

  .container {
    margin-top: 2rem;
  }

}
